@media(max-width:1140px) {
    header {
        position: relative;
    }
    .fa-close {
        display: block;
    }
    header nav .responsiveNav {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -100%;
        padding: 50px 100px;
        text-align: center;
        background: var(--gray);
    }
    header .navigate,
    header .socialLinks {
        flex-direction: column;
    }
    .fa-bars {
        display: block;
    }
    .aboutMe .myImage {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mySkills .skills {
        padding: 20px;
        gap: 10px;
    }
    .mySkills,
    .myProjects,
    .contactMe,
    footer {
        padding: 40px;
    }
    .myProjects {
        padding-bottom: 100px;
    }
}
@media(max-width:960px) {
    .aboutMe {
        padding: 50px;
        /* flex-direction: column; */
    }
}
@media(max-width:750px) {
    .aboutMe, footer {
        flex-direction: column;
    }
    .aboutMe .myImage,
    .aboutMe .myText,
    .mySkills .skills .skill,
    .cForm {
        width: 100%;
    }
}
@media(max-width:540px) {
    header,
    .aboutMe,
    .mySkills,
    .myProjects,
    .contactMe,
    .footer {
        padding: 20px;
    }
    * h1 {
        font-size: 55px;
    }
    footer {
        text-align: center;
    }
    .mySkills .skills .skill {
        padding: 10px;
    }
}
@media(max-width:425px) {
    * h4 {
        font-size: 17px;
    }
    header {
        background-position: right;
    }
}